table {
    width: 650px;
    table-layout: fixed;
}

td {
    height: 50px;
}

.circle {
  background-color:skyblue;
  display: block;
  height: 75%;
  width: 75%;
  margin: auto;
  border-radius:50%;
  border:2px solid #000;
  text-align: center;
  font-size: 11.5px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.kvadrat {
    display:block;
    background-color: white;
    width: 100%;
    height:5px;
    margin-top: 2px;
}